.product {
    width: 600px;
    height: 500px;
    border: 1px solid #95a0a7;
    border-radius: 8px;
}

.product img {
    width: 600px;
    height: 300px;
}

.product-name {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
}