.header {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 100px; 
}

nav.header a{
    text-decoration: none;
    color: #ffffff;
    margin-inline: 10px;
}

nav.header a:hover{
    color: skyblue;
}